.welcome-page
    z-index: 10
    position: fixed
    width: 100vw
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    transition: opacity 1s
    background: transparent
    opacity: 1

.welcome-page-message
    user-select: none
    color: white
    font-size: 4rem
    transition: filter 2s

.welcome-page-container
    z-index: 9
    position: fixed
    width: 100vw
    height: 100vh
    user-select: none

.welcome-page-container-blur
    backdrop-filter: blur(8px)
    
